/* Tracklist table styles */
.tracklist {
  width: 100%;
  border-collapse: collapse; /* Collapse table borders */
  overflow: auto;
  // border: 1px solid #ddd;
}

.tracklist thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: lighten($bg-color, 10%);
}
.tracklist td {
  cursor: move;
}
.tracklist tr {
  background-color: lighten($bg-color, 20%);
}
/* Tracklist table row styles */
.tracklist tr:nth-child(even) {
  // background-color: lighten($bg-color, 7%); /* Alternate row background color */
}

/* Tracklist table cell styles */
.tracklist th,
.tracklist td {
  padding: 8px;
  border-bottom: 1px solid lighten($bg-color, 5%); /* Add bottom border for each cell */
}

/* Total table styles */
.total-table {
  width: 100%;
  margin-top: 10px; /* Adjust margin as needed */
}

.total-table td {
  padding: 8px;
}

/* Scroll wrapper styles */
.scroll-wrapper {
  height: 675px;
  overflow-y: auto;
  overflow-x: hidden;
}
tr th:nth-child(1n),
tr td:nth-child(1n) {
  width: 5%;
}
tr th:nth-child(2n),
tr td:nth-child(2n) {
  width: 42.5%;
}
tr th:nth-child(3n),
tr td:nth-child(3n) {
  width: 42.5%;
}
tr th:nth-child(4n),
tr td:nth-child(4n) {
  width: 10%;
}

.red-text {
  color: red;
}

@media screen and (max-height: 900px) {
  .scroll-wrapper {
    height: 315px;
  }
}
