.scroll-wrapper {
  height: 675px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: lighten($bg-color, 5%);
}

.track {
  display: flex;
  align-items: center;
  padding: 0.12.5rem;
  border-bottom: 2px solid lighten($bg-color, 1%);
  cursor: move;

  .number {
    width: 5%;
    text-align: center;
  }
  .art {
    height: auto;
    width: 12%;
  }
  .details {
    text-align: start;
    padding: 0 0.25rem;
    width: 68%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .title {
      font-size: 0.8rem;
    }
    .album {
      font-size: 0.7rem;
    }
    .artist {
      margin-top: 0.25rem;
      font-size: 0.8rem;
    }

    .title,
    .album,
    .artist {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .length {
    width: 10%;
    margin-left: auto;
  }
  .delete {
    width: 5%;
  }
  .add {
    padding: 0.5rem;
  }
}

/* Total table styles */
.total-table {
  border-collapse: collapse;
  width: 100%;
  padding-right: 10px;
}

.total-table td {
  padding: 0.5rem;
}

tr th:nth-child(1n),
tr td:nth-child(1n) {
  width: 5%;
}
tr th:nth-child(2n),
tr td:nth-child(2n) {
  width: 40%;
}
tr th:nth-child(3n),
tr td:nth-child(3n) {
  width: 40%;
}
tr th:nth-child(4n),
tr td:nth-child(4n) {
  width: 10%;
}
tr th:nth-child(5n),
tr td:nth-child(5n) {
  width: 5%;
}

.red-text {
  color: red;
}

@media screen and (max-height: 900px) {
  .scroll-wrapper {
    height: 315px;
  }
}

.delete {
  color: red;
}
.add {
  color: $accent-color;
}
