@import "variables";
@import "nav";
@import "inputs";
@import "table";
@import "scroll";

/* Overall app styles */
html,
body {
  height: 100%;
  margin: 0;
  background: $bg-color;
  color: white;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}
a {
  margin: 1rem;
}
a:visited {
  color: white;
}

/* Container for the sides */
.sides {
  display: flex;
  justify-content: center; /* Center the sides horizontally */
}

/* Individual side container */
.side {
  width: 50%; /* Each side takes half of the container */
  padding: 10px; /* Add padding for spacing between elements */
}

/* WRAP TABLES IF UNDER 768px */
@media screen and (max-width: 768px) {
  .sides {
    flex-wrap: wrap;
  }
  .side {
    width: 100%;
  }
}

.error {
  color: red;
}

.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
a .login {
  color: white;
  font-size: 1.5rem;
  // text-decoration: none;
}
